@divider_width: 22.67vw;
@navi_color: #914A49;
@mask_color: rgba(0, 0, 0, .4);

body {
	background-color: #f0f0f0;
}
.bs-border() {
	box-sizing: border-box;
}
.d-b() {
	display: block;
}
.d-ib() {
	display: inline-block;
}

.home-container {
	color: #FFF;
	.banner-intro {
		height: 53vh;
		min-height: 6rem;
		padding: 1.4rem 13.33vw 0;
		.bs-border();
		p {
			line-height: 2;
		}
		p:first-child {
			line-height: 1.5;
		}
		.divider-horizental {
			height: .01rem;
			min-height: 1px;
			width: @divider_width;
			box-shadow: 2px 2px 4px #000;
			margin-bottom: 15px;
		}
		.get-more {
			padding: 10px 4.67vw;
			background-color: #FFF;
			border-radius: 20px;
			margin: 20px 0;
			box-shadow: 2px 2px 4px #333;
			.bs-border();
			.d-ib();
			&:active {
				box-shadow: 1px 1px 2px #333;
			}
		}
	}
	.home-metro {
		width: 100vw;
		height: 47vh;
		min-height: 5.3rem;
		padding: .3rem;
		justify-content: flex-start;
		flex-wrap: wrap;
		.bs-border();
		>a {
			width: 32.66%;
			margin: 0 1% 1% 0;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #FFF;
			box-shadow: 2px 2px 6px #333;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:nth-child(1) {
				background-color: rgba(10, 132, 201, .9)
			}
			&:nth-child(2) {
				background-color: rgba(223, 137, 33, .9)
			}
			&:nth-child(3) {
				background-color: rgba(184, 157, 68, .9)
			}
			&:nth-child(4) {
				background-color: rgba(96, 160, 154, .9)
			}
			&:nth-child(5) {
				background-color: rgba(4, 122, 188, .9)
			}
			&:nth-child(6) {
				background-color: rgba(229, 112, 108, .9)
			}
			>div {
				width: 100%;
				padding: 10px .2rem;
				display: flex;
				justify-content: space-between;
				.bs-border();
				.divider-horizental {
					width: 48%;
				}
			}
			.metro-english {
				font-family: "Arial";
			}
			
		}
	}
}

.overview-list {
	padding: .15rem .2rem;
	
	.bs-border();
	.overview-item {
		padding-bottom: .2rem;
		background-color: #FFF;
		margin-bottom: .2rem;
		&:last-child {
			margin-bottom: 0;
		}
		.item-title {
			padding: .3rem .2rem;
			border-bottom: 1px solid #F4F4F4;
			justify-content: flex-start;
			align-items: center;
			.bs-border();
			i {
				color: @navi_color;
				margin-right: .1rem;
			}
		}
		.overview-content {
			padding: .35rem .25rem .15rem;
			text-align: center;
			.bs-border();
			>p {
				font-family: "FZLTHJW";
				font-size: .26rem;
				line-height: .42rem;
				text-align: left;
				text-indent: .52rem;
			}
			>img {
				max-width: 100%;
				max-height: 4rem;
				margin: .2rem auto;
			}
		}
		.overview-album {
			flex-wrap: wrap;
			padding: .25rem;
			.bs-border();
			.album-img {
				position: relative;
				height: 1.2rem;
				width: 49%;
				margin-bottom: .5%;
				.bs-border();
				&:nth-child(2n-1) {
					margin-right: 1%;
				}
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: "宋体";
					font-size: .3rem;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 999;
					color: #FFF;
					background-color: @mask_color;
				}
				p {
					position: absolute;
					left: 0;
					bottom: 0;
					height: .4rem;
					width: 100%;
					line-height: .45rem;
					text-align: center;
					color: #FFF;
					background-color: @mask_color;
				}
			}
		}
		.overview-btn {
			width: 100%;
			justify-content: center;
			align-items: center;
			a {
				display: block;
				padding: .1rem .4rem;
				margin: .2rem 0;
				border: 1px solid @navi_color;
				border-radius: 4px;
				color: @navi_color;
				font-size: .2rem;
				.bs-border();
			}
		}
		.scenery-intro {
			padding-top: .2rem;
			.bs-border();
			.scenery-item {
				display: block;
				width: 100%;
				height: 1.5rem;
				display: flex;
				justify-content: space-between;
				padding: .15rem .2rem;
				border-bottom: 1px solid #F1F1F1;
				.bs-border();
				&:last-child {
					border: none;
				}
				img {
					width: 33%;
				}
				.scenery-content {
					width: 66%;
					padding: 0 .2rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					.bs-border();
					.scenery-name {
						line-height: .48rem;
					}
					.scenery-details {
						line-height: .40rem;
						.see-more {
							color: @navi_color;
						}
					}
				}
			}
		}
		.complaint-advice {
			display: flex;
			flex-direction: column;
			padding: .2rem 0 .4rem;

			>span {
				display: flex;
				justify-content: flex-start;
				padding: .2rem;

				&:nth-child(4) {
					input {
						width: 20%;
						margin-right: .2rem;
					}
				}
				label {
					width: 15%;
					margin-right: .2rem;
					display: flex;
					justify-content: flex-end;
					align-items: center;
				}
				input {
					width: 80%;
					padding: 4px 8px;
					outline: none;
				    border: 1px solid #AAA;
				}
				textarea {
					width: 80%;
					padding: 4px 8px;
					height: 2rem;
					outline: none;
				    border: 1px solid #AAA;
				}
				button {
					width: 40%;
					padding: .1rem 0;
					background-color: @navi_color;
				}
				img {
					border: 1px solid #AAA;
				}
			}
		}
	}
	.scenery-media {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		>a {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 25%;
			height: 1.7rem;
			margin-right: .1rem;
			background-color: #FFF;
			&:last-child {
				margin-right: 0;
			}
			.media-name {
				color: #333;
				margin-top: 8px;
			}
			.english-name {
				font-family: "Arial";
				color: #999;
			}
			&:nth-child(1) {
				>i {
					color: @navi_color;
				}
			}
			&:nth-child(2) {
				>i {
					color: #637181;
				}
			}
			&:nth-child(3) {
				>i {
					color: #AD9778;
				}
			}
			&:nth-child(4) {
				>i {
					color: #638164;
				}
			}
		}
	}
	.picture-item {
		position: relative;
		display: block;
		width: 100%;
		height: 4rem;
		margin-bottom: .15rem;
		.bs-border();
		>p {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: .5rem;
			display: flex;
			align-items: center;
			padding: 0 .2rem;
			color: #FFF;
			background-color: rgba(0, 0, 0, .8);
			.bs-border();
		}
	}
	.video-item {
		margin-bottom: .2rem;
		background-color: #FFF;
		box-shadow: 2px 2px 4px #999;
		.bs-border();
		.video-container {
			height: 4rem;
			.bs-border();
			video {
				width: 100%; 
				max-height: 100%;
			}
		}
		.video-title {
			height: .75rem;
			padding: 0 .25rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.bs-border();
			span {
				&:first-child {
					color: #333;
				}
				&:last-child {
					color: #999;
				}
			}
		}
	}
	.news-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: .2rem;
		background-color: #FFF;
		margin-bottom: .2rem;
		box-shadow: 2px 2px 4px #CCC;
		.bs-border();
		>img {
			width: 100%;
			margin: 0 auto;
			max-height: 3rem;
		}
		>p {
			align-self: flex-start;
			color: #333;
			margin: .3rem 0;
		}
		>a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: .4rem;
			padding: 0 .6rem;
			color: @navi_color;
			border: 1px solid @navi_color;
		}
	}
	.news-details {
		background-color: #FFF;
		padding: .3rem .3rem .6rem;
		.bs-border();
		.news-title {
			font-family: "FZLTHJW";
			font-size: .3rem;
			margin: .2rem 0;
			text-align: center;
		}
		.news-date {
			height: .45rem;
			margin: .1rem 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "FZLTHJW";
			font-size: .26rem;
			color: #999;
			background-color: #E6E6E6
		}
		.n-c {
			font-family: "FZLTHJW";
			font-size: .26rem;
			line-height: 1.5;
			color: #333;
		}
		>img {
			width: 100%;
			margin: .2rem auto;
			max-height: 3rem;
		}
	}
	.raiders-item {
		display: block;
		position: relative;
		width: 100%;
		height: 2.1rem;
		border-radius: 6px;
		box-shadow: 2px 2px 4px #999;
		margin: .15rem 0 .3rem;
		background-color: #FFF;
		.bs-border();
		&:last-child {
			margin-bottom: .15rem;
		}
		.raiders-label {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: -.1rem;
			left: .3rem;
			width: 1.8rem;
			height: 1.8rem;
			box-shadow: 2px 2px 6px #000;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			color: #FFF;
			background-color: @navi_color;
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				background-color: #662726;
				z-index: -1;
				transform: skewX(45deg) translateX(.92rem);

			}
			>i {
				margin-bottom: .1rem;
			}
		}
	}
	.self-driving-route {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: .2rem;
		margin-bottom: .2rem;
		background-color: #FFF;
		.bs-border();
		>img {
			width: 33%;
			height: 1.2rem;
			margin-right: .2rem;
		}
		.route-departure {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 1rem;
			height: 1rem;
			color: #FFF;
			background: #637181;
			border-radius: 50%;
			margin-right: .2rem;
			writing-mode: vertical-rl;
		}
		.route-intro {
			width: 5.6rem;
			font-family: "FZLTHJW";
			.bs-border();
			.route-title {
				font-size: .3rem;
				line-height: 1.5;
				color: #333;
			}
			.route-details {
				font-size: .26rem;
				line-height: 1.35;
				color: #999;
			}
		}
	}
	.traffic-guide {
		min-height: 100vh;
		padding: .3rem;
		background-color: #FFF;
		.bs-border();
		>p {
			font-family: "FZLTHJW";
			font-size: .26rem;
			color: #333;
			line-height: 1.5;
		}
	}
}