.shutter .shutter-btn li.prev { left: -60px; }
.shutter .shutter-btn li.next { right: -60px; }
.shutter:hover .shutter-btn li.prev { left: 20px; }
.shutter:hover .shutter-btn li.next { right: 20px; }
.scenic-list { height: 280px; margin-top: 1px; -ms-flex-pack: justify; justify-content: space-between }
.scenic-list .scenic-container { height: 100%; width: 25vw; overflow: hidden; margin: 0 1px; position: relative }
.scenic-list .scenic-container img { position: absolute; z-index: 20; top: 0; left: 50%; top: 50%; cursor: pointer; transition: all .5s ease-in-out }
.scenic-list .scenic-container:hover img { transition: all .5s ease-in-out; transform: scale(1.05) }
.scenic-list .scenic-container .scenic-mask { position: absolute; height: 100%; z-index: 30; left: 0; top: -280px; color: #FFF; background-color: transparent; transition: all .5s ease-in-out; padding: 0 30px }
.scenic-list .scenic-container:hover .scenic-mask { background-color: rgba(0, 0, 0, .75); top: 0; transition: all .25s ease-in-out }
.scenic-list .scenic-mask .scenic-icon { margin-top: 45px }
.scenic-list .scenic-mask .scenic-name { margin-top: 10px }
.scenic-list .scenic-mask .divider-container { -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding: 10px 0 }
.scenic-list .scenic-mask .divider-container .divider-horizental { width: 60% }
.scenic-list .scenic-mask p { text-align: center }
.scenic-list .scenic-mask .scenic-description { padding-top: 20px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical }
.main { width: 73vw; margin: 0 auto; padding: 60px 0 }
.main .main-title { font-family: "宋体"; color: #333333; font-weight: 600; text-align: center }
.main .main-subtitle { color: #637181; text-align: center; margin: 10px 0 60px }
.main .main-banner { height: 300px; background-position: center; background-repeat: no-repeat; background-size: cover; margin-bottom: 50px; transition: all .35s ease-in-out; }
.main .main-banner:hover { transform: scale(1.02); box-shadow: 0px 0px 8px #000; border-radius: 6px; }
.main .main-intro { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around }
.main .main-intro>div { margin-right: 2vw }
.main .main-intro>div:last-child { margin-right: 0 }
.main .main-intro .intro-title { font-family: "宋体"; color: #333; margin-bottom: 10px }
.main .main-intro .intro-title i { margin-right: .5vw; color: #924a49 }
.main .main-intro .intro-content { color: #637181; line-height: 32px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; margin-bottom: 60px }
.main .main-intro .main-guide { height: 600px; overflow: hidden; position: relative; margin-bottom: 60px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag: none }
.main .main-intro .main-guide img { position: absolute; z-index: 20; top: 0; left: 50%; top: 50%; cursor: pointer; transition: all .5s ease-in-out }
.main .main-intro .main-guide:hover img { transition: all .5s ease-in-out; transform: scale(1.05) }
.main .main-intro .main-guide .intro-mask { position: absolute; height: 100%; z-index: 30; left: 0; top: 0; color: #FFF; background-color: rgba(0, 0, 0, .6); transition: all .5s ease-in-out; padding: 0 30px; text-align: center }
.main .main-intro .intro-mask p { text-align: center }
.main .main-intro .intro-mask .intro-icon { margin: 140px 0 10px }
.main .main-intro .intro-mask .intro-name { font-family: "宋体"; color: #FFF; margin-bottom: 10px }
.main .main-intro .intro-mask .divider-container { -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding: 20px 0 }
.main .main-intro .intro-mask .divider-container .divider-horizental { width: 20%; transition: all .75s ease-in }
.main .main-intro .intro-mask:hover .divider-container .divider-horizental { width: 50%; transition: all .75s ease-in }
.main .main-intro .intro-mask .intro-description { font-family: "宋体"; color: #FFF; margin-bottom: 35px; height: 78px; line-height: 26px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical }
.main .main-intro .intro-mask .intro-more { display: inline-block; padding: 15px 2vw; color: #000; background-color: #FFF; border-radius: 24px }
.main .main-intro .news-title, .main .main-intro .news-date { font-family: "宋体"; color: #333; line-height: 36px; margin-bottom: 10px; transition: all .35s ease-in-out }
.main .main-intro .news-title:hover { color: #e83632; }
.main .main-intro .get-details { display: inline-block; padding: 10px 0; color: #333; font-family: "宋体"; border-bottom: 1px solid #924a49 }
.activity { width: 100vw; height: 530px; margin-bottom: 80px; background-position: center; background-size: cover; background-repeat: no-repeat }
.activity .activity-content { width: 73vw; height: 100%; padding: 40px 0; margin: 0 auto; box-sizing: border-box; display: -ms-flexbox; display: flex }
.activity .activity-content .activity-intro { position: relative; width: 31%; margin-right: 3%; background-color: #FFF; padding: 30px; overflow: hidden }
.activity .activity-content .activity-intro .activity-name { font-family: "宋体"; color: #333; margin-bottom: 20px }
.activity .activity-content .activity-intro .activity-img { height: 110px; overflow: hidden; margin-bottom: 20px; background-position: center; background-size: cover; background-repeat: no-repeat }
.activity .activity-content .activity-intro .intro-content { font-family: "宋体"; color: #333; overflow: hidden; line-height: 26px }
.activity .activity-content .activity-details { width: 66% }
.activity .activity-content .activity-details .details-title { color: #FFF; margin-bottom: 30px; text-align: right; margin-bottom: 40px }
.activity .activity-content .activity-details .show-date { height: 210px; display: -ms-flexbox; display: flex; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin-bottom: 40px }
.activity .activity-content .show-date .show-time { height: 100%; width: 180px; color: #FFF; text-align: center; margin-left: 1vw }
.activity .activity-content .show-date .show-time span:first-child { display: block; border: 2px solid #FFF; font-family: "microsoft yahei"; border-radius: 6px; padding: 10px 0; box-sizing: border-box }
.activity .activity-content .show-date .show-time span:last-child { display: block; border: 2px solid #FFF; border-radius: 6px; padding: 10px 0 20px; box-sizing: border-box }
.activity .activity-content .activity-details .details-more { color: #FFF; font-family: "microsoft yahei"; text-align: right }
.activity .activity-content .activity-details .details-more a { display: inline-block; color: #FFF; font-family: "microsoft yahei"; margin-left: 1.5vw }
.activity .activity-content .activity-details .details-more i { display: inline-block; animation: enter 1.5s ease-in-out infinite; transform-origin: 50% 50%; margin-left: .75em; }
@keyframes enter {
	50% { transform: translateX(-0.5em) }
}
.service-list { width: 73vw; margin: 0 auto; -ms-flex-pack: distribute; justify-content: space-around; margin-bottom: 75px; text-align: center }
.service-list .service .tld-icon { color: #637181 }
.service-list .service .service-name { color: #637181 }
.service-list .service .divider-group { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 10px 0 }
.service-list .service .divider-horizental { background-color: #637181; width: 45% }
.service-list .service .service-english { font-family: "Arial"; color: #637181 }
.tour-route { width: 73vw; margin: 0 auto; padding: 50px 2.5vw; background-color: #ad9778; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; box-sizing: border-box; color: #FFF; margin-bottom: 80px }
.tour-route .route { padding: 0 3vw; border-right: 1px dotted #FFF }
.tour-route .route:first-child { padding-left: 0 }
.tour-route .route:last-child { padding-right: 0; border: none }
.tour-route .route .route-name { display: -ms-flexbox; display: flex }
.tour-route .route .route-name .initial-name { margin-right: 15px }
.tour-route .route .route-name .name { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: start; align-items: flex-start; -ms-flex-pack: center; justify-content: center; text-align: left }
.tour-route .route .route-details { font-family: "microsoft yahei"; line-height: 24px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical }


/*hehe*/
.jc-fe { -ms-flex-pack: end !important; justify-content: flex-end !important; }
.fullscreen-content { height: 100%; width: 100%; position: absolute; padding: 20px 1vw; box-sizing: border-box; left: 0; top: 0; z-index: 19; color: #FFF; }
.fullscreen-content .fullscreen-header { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-between; height: 80px; padding: 20px 1vw; box-sizing: border-box; }
.fullscreen-content .fullscreen-header .left { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; height: 100%; }
.fullscreen-content .fullscreen-header .left .divider-vertical { height: 30px; margin: 0 1vw; }
.fullscreen-content .fullscreen-header .left .weather { display: -ms-flexbox; display: flex; height: 100%; }
.fullscreen-content .fullscreen-header .left .weather .temperature { height: 100%; margin-left: 10px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: start; justify-content: center; -ms-flex-align:; align-items: flex-start; }
.navi { height: 40px; box-sizing: border-box; -ms-flex-pack: justify; justify-content: space-between; position: relative; z-index: 49 }
.navi div { line-height: 40px; font-family: 'microsoft yahei'; font-size: 22px; }
.navi .menu-list .menu { margin: 0 1.5vw; font-family: "宋体"; font-weight: 600; position: relative }
.navi .menu-list .menu a { display: block; width: 100%; height: 100%; color: #FFF; text-shadow: 2px 2px 2px #000; }
.navi .menu-list .menu a i { margin-left: 5px; display: inline-block; transition: all .15s ease-in-out; }
.navi .menu-list .menu a:hover i { transform: rotate(180deg); }
.navi .menu-list .menu.active>a { color: #b63b4d }
.navi .menu-list .menu .menu-center { opacity: 0; height: 0; z-index: -1; overflow: hidden; position: absolute; left: 50%; margin-left: -75%; width: 150%; border-radius: 6px; box-shadow: 1px 4px 4px #333 }
.navi .menu-list .menu .submenu { width: 100%; font-weight: 500; text-align: center; background: rgba(0, 0, 0, .6); color: #666666; cursor: pointer; transition: all .1s ease-in-out; }
.navi .menu-list .menu .submenu:hover { background: #FFF; color: #333 }
.navi .menu-list .menu .submenu a { transition: all .1s ease-in-out; line-height: 60px; text-shadow: none; }
.navi .menu-list .menu .submenu:hover a { background: #FFF; color: #333 }
.navi .menu-list .menu:hover .menu-center { height: auto; opacity: 1 }

.fullscreen-footer { width: 100%; position: absolute; bottom: 20px; left: 0; height: 80px; padding: 20px 2vw 0 1vw; box-sizing: border-box; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; z-index: 50 }
.fullscreen-footer .left { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-align: center; align-items: center; font-size: 14px; text-shadow: 2px 2px 2px #000; }
.fullscreen-footer .right { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-align: center; align-items: center; }
.fullscreen-footer div { line-height: 40px }
.fullscreen-footer .sns { margin: 0 1vw; }
.fullscreen-footer .sns>span { display: inline-block; box-sizing: border-box; position: relative }
.fullscreen-footer .sns>span span { display: block; position: absolute; bottom: 55px; left: -50px; margin-left: 50%; background-color: #FFF; box-shadow: 2px 2px 4px #637181; transform: scale(0) }
.fullscreen-footer .sns>span span:before { content: ""; border: 10px solid transparent; border-top-color: #FFF; position: absolute; left: 50px; margin-left: -10px; bottom: -20px }
.fullscreen-footer .sns>span span img { width: 100px; height: 100px }
.fullscreen-footer .sns>span:hover span { transform: scale(1) }
.fullscreen-footer .sns i { padding: 0 .2vw; cursor: pointer; color: #FFF }
.fullscreen-footer .greeting .greeting-content { padding-left: 1.5vw; color: #637181 }
.fullscreen-footer .get-more { -ms-flex-align: center; align-items: center }
.fullscreen-footer .get-more .concact i { color: #FFF; cursor: pointer }
.fullscreen-footer .get-more .phone-number { padding: 0 1vw; color: #FFF; }
.fullscreen-footer .select-lang { -ms-flex-align: center; align-items: center }
.fullscreen-footer .select-lang .select-language { padding: 0 1vw }
.fullscreen-footer .select-lang .select-language select { background: transparent; color: #fff; border-color: #fff; outline-color: #fff; }
.fullscreen-footer .select-lang .select-language select option { color: #000; }
.fullscreen-footer .search .search-icon { padding: 0 1vw; cursor: pointer }
.fullscreen-footer .booking { padding-left: 1vw }
.fullscreen-footer .booking button { background-color: #e78a3d; padding: 8px 12px; box-shadow: 1px 1px 4px #666; line-height: 20px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }
.fullscreen-footer .booking button:active { box-shadow: 1px 1px 2px #666; transform: translate(1px, 1px) scale(.9) }
.fullscreen-footer .booking button i { margin-right: 8px; }

/*轮播图*/
.swiper-container .swiper-pagination { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
.swiper-container .swiper-pagination .bullet-container { width: 20px; height: 20px; margin: 5px 0; display: -ms-flexbox; border: 2px solid transparent; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; border-radius: 50%; }
.swiper-container .swiper-pagination .bullet-container.active { border: 2px solid #FFF; }
.swiper-container .swiper-pagination .swiper-pagination-bullet { opacity: 1; background-color: #FFF; cursor: pointer; }

/*第二页*/
.fullscreen .mouse { position: absolute; bottom: 10px; left: 50%; margin-left: -14px; color: #FFF; z-index: 99; }
.explore { margin-left: 16vw; margin-top: 8vh; display: -ms-flexbox; display: flex; }
.explore-tld { width: 34.3vw; padding: 65px; box-sizing: border-box; background-image: url('../imgs/kuang.png'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; }
.explore-tld p:nth-child(1) { font-family: 'FZLTHJW'; text-align: justify; font-size: 30px; margin-bottom: 10px; }
.explore-tld p:nth-child(2) { font-family: 'Baskerville_Old_Face'; text-align: justify; font-size: 14px; margin-bottom: 50px; }
.explore-tld p:nth-child(3) { font-family: 'microsoft yahei'; text-align: justify; font-size: 14px; margin-bottom: 40px; }
.explore-tld >a { padding: 10px 25px; border: 1px solid #FFF; color: #FFF; }
.explore-details { width: 28.9vw; padding: 20px 0  20px 1vw; box-sizing: border-box; }
.explore-details .c-details { display: -ms-flexbox; display: flex; margin-bottom: 30px; }
.explore-details .c-details:last-child { margin-bottom: 0; }
.explore-details .c-details >i { margin: 5px 1.5vw 0; }
.explore-details .c-details >span .divider-horizental { width: 1vw; }
.explore-details .c-details >span .title { font-family: 'microsoft yahei'; font-size: 18px; line-height: 32px; }
.explore-details .c-details >span .subtitle { font-family: 'microsoft yahei'; font-size: 12px; line-height: 20px; }

/*第三页*/
.fullscreen-scenic { position: absolute; left: 47.92vw; top: 0; padding: 70px 3vw 0; box-sizing: border-box; }
.fullscreen-scenic .title { font-family: 'FZLTHJW'; color: #e78a3d; margin-bottom: 50px; }
.fullscreen-scenic .title p:first-child { font-weight: 600; font-size: 38px; }
.fullscreen-scenic .title p:first-child span { font-weight: 600; font-style: italic; font-size: 60px; margin-right: 1vw; }
.fullscreen-scenic .title p:last-child { font-size: 18px; }
.fullscreen-scenic .scenic-detail { margin-bottom: 20px; }
.fullscreen-scenic .scenic-detail p { font-family: 'microsoft yahei'; font-size: 14px; color: #333; line-height: 22px; }
.fullscreen-scenic .scenic-detail p:first-child { font-family: 'FZLTHJW'; font-size: 30px; font-weight: 600; margin-bottom: 20px; }
.fullscreen-scenic .scenic-info { color: #333; line-height: 22px; margin-bottom: 20px; }
.fullscreen-scenic .buy-tickets { color: #e78a3d; border: 1px solid #e78a3d; padding: 6px 2vw; margin-bottom: 20px; }


#scenic-swiper {
	height: 8.85vw;
	width: calc(8.85vw * 6);
	top: 70px;
	left: -20.6vw;
}
#button-prev {
	position: absolute;
    top: 100%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    left: -21vw;
    right: auto;
}
#button-next {
	position: absolute;
	top: 100%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	right: 21vw;
	left: auto;
}
#scenic-swiper .swiper-slide {
	background-color: rgba(255, 255, 255, .8);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}
#scenic-swiper .swiper-slide >i {
	color: #e78a3d
}
#scenic-swiper .swiper-slide >p {
	color: #333;
}
#scenic-swiper .swiper-slide .slider-title {
	font-family: 'FZLTHJW';
	font-size: 1vw;
	font-weight: 600;
}
#scenic-swiper .swiper-slide .slider-subtitle {
	font-family: 'microsoft yahei';
	font-size: .8vw;
}
#scenic-swiper .swiper-slide .divider-horizental {
	width: 3vw;
	background-color: #e78a3d;
	margin: 10px 0;
}
#scenic-swiper .swiper-slide.active {
	background-color: rgba(231, 138, 61, .8);
}
#scenic-swiper .swiper-slide.active >i {
	color: #FFF;
}
#scenic-swiper .swiper-slide.active >p {
	color: #FFF
}
#scenic-swiper .swiper-slide.active .divider-horizental {
	background-color: #fff
}


