.main >span.divider-horizental { margin-bottom: 0; }
.main.tour-info { padding-bottom: 0; }

/*列表*/
.main .info-title { width: 100%; box-sizing: border-box; padding: 0 1.5vw; }
.main .info-title p { line-height: 26px; }
.main .info-title p:first-child { margin-bottom: 10px; }
.main .info-title .tld-icon { margin-right: .5vw; color: #924a49 }
.main .info-title .info-subtitle { margin-left: .5vw; color: #924a49 }
.main .info-list { -ms-flex-pack: start; justify-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-top: 35px; }
.main .info-list .info-card { height: 440px; width: 30%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; border: 1px solid #CCC; box-sizing: border-box; margin: 0 5% 30px 0; }
.main .info-list .info-card:nth-child(3n) { margin: 0 0 30px 0; }
.main .info-list .info-card:last-child { -ms-flex-item-align: start; align-self: flex-start; }
.main .info-list .info-card .lazy-load-img { width: 100%; height: 50%; overflow: hidden; }
.main .info-list .info-card .lazy-load-img img:hover { transition: all .5s ease-in-out; transform: scale(1.1); }
.main .info-list .info-card .info-content { width: 100%; height: 50%; padding: 35px 1.5vw 20px; box-sizing: border-box; position: relative; color: #333; }
.main .info-list .info-card .info-content p { line-height: 26px; overflow: hidden; }
.main .info-list .info-card .info-content .title-underline { margin: 1vw 0 .5vw; }
.main .info-list .info-card .info-content .info-date { height: 35px; padding: 0 1vw; position: absolute; top: -17.5px; left: 1.5vw; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; background-color: #924a49; color: #FFF; box-shadow: 2px 2px 4px #999; z-index: 99; }

.main .info-essay { padding: 40px 0; }
.main .info-essay .essay-title { margin-bottom: 20px; text-align: center; }
.main .info-essay .essay-subtitle { background-color: #f0f1f3; padding: 5px 0; text-align: center; }
.main .info-essay .essay-subtitle i { color: #924a49; margin: 0 10px; }
.main .info-essay .essay-content { text-align: center; padding: 40px 3vw; }
.main .info-essay .essay-content p { line-height: 28px; font-family: "microsoft yahei"; font-size: 14px; text-align: left; }
.main .info-essay .essay-content>img { max-width: 100%; max-height: 400px; }
.main .info-essay .essay-content .lazy-load-img { height: 400px; width: 80%; overflow: hidden; margin: 30px auto; }
.main .info-essay .essay-content .lazy-load-img img { width: 100%; max-height: 400px; position: absolute; top: 50%; left: 50%; }
.main .jump-link a { display: block; font-family: "microsoft yahei"; font-size: 14px; line-height: 28px; color: #333; }
.main .jump-link a:hover { color: #999; }





