@font-face {
	font-family: 'FZLTHJW';
	src: url('FZLTHJW.eot');
	src: url('FZLTHJW.eot?#iefix') format('embedded-opentype'), url('FZLTHJW.woff') format('woff'), url('FZLTHJW.ttf')  format('truetype'), url('FZLTHJW.svg#FZLTHJW') format('svg')
}
@font-face {
	font-family: 'Baskerville_Old_Face';
	src: url('Baskerville_Old_Face.eot');
	src: url('Baskerville_Old_Face.eot?#iefix') format('embedded-opentype'), url('Baskerville_Old_Face.woff') format('woff'), url('Baskerville_Old_Face.ttf')  format('truetype'), url('Baskerville_Old_Face.svg#Baskerville_Old_Face') format('svg')
}
@font-face {
	font-family: 'MFYanSong-Regular';
	src: url('MFYanSong-Regular.eot');
	src: url('MFYanSong-Regular.eot?#iefix') format('embedded-opentype'), url('MFYanSong-Regular.woff') format('woff'), url('MFYanSong-Regular.ttf')  format('truetype'), url('MFYanSong-Regular.svg#MFYanSong-Regular') format('svg')
}
@font-face {
	font-family: 'BaronNeue';
	src: url('BaronNeue.eot');
	src: url('BaronNeue.eot?#iefix') format('embedded-opentype'), url('BaronNeue.woff') format('woff'), url('BaronNeue.ttf')  format('truetype'), url('BaronNeue.svg#BaronNeue') format('svg')
}